@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
body {
	margin: 0;
	width: 100%;

	height: 100vh;
	background-image: url('../images/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;
	background-attachment: fixed;
	font-family: 'Nunito Sans', sans-serif;
}

header {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	z-index: 1;
  	background-color: black;
  }
  
  .button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .center-buttons {
	/* Отображение центральных кнопок в центре */
	padding-left: 10%;
	flex-grow: 1;
	text-align: center;
  }
  
  .button-container button,
  .auth-buttons button {
	padding: 10px 20px;
	margin: 0 10px;
	color: white;
	background-color: transparent;
	border: none;
	font-size: 16px;
	cursor: pointer;
	font-family: 'Nunito Sans', sans-serif;
  }


  .button-container button:hover,
  .auth-buttons button:hover {
	color: #2980b9;

  }
  
  .user-section {
	/* Отображение информации о пользователе справа */
	font-size: 16px;
	color: white;
  }

A {
	color: #34A4C7;
    text-decoration: none;
   } 
A:hover { 
    color: #34A4C7;
   }

.img_catalog {
	z-index: -1;
	position: absolute;
}

.products {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	margin-top: 1vw;
  }
  

.product {
	width: 45%;
	margin-left: 3.33333%;
	height: 50vw;
	border-radius: 4vw;
	margin-top: 3vw;
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.name_car {
	font-size:3.5vw;
	color: white;
	margin-left: 5%;
}

.description {
	font-size:1.5vw;
	color: white;
	margin-left: 5%;
	text-align: justify;
	height: 10vw;
}

.cost_of_car {
	font-size:2vw;
	color: white;
	margin-left: 5%;
}

.buttons {
	width: 100%;
	height: 6vw;
	display: flex;
	flex-wrap: wrap;
}

.order_button {
	font-size:2vw;
	color: white;
	margin-left: 5%;
	margin-top: 2vw;
	width: 30%;
	height: 3vw;
	background-color: rgb(0, 119, 255);
	border-radius: 3vw;
	text-align: center;
	cursor: pointer;
}

.reserved {
	font-size:2vw;
	color: rgb(156, 0, 0);
	margin-left: 5%;
	margin-top: 2vw;
	width: 30%;
	height: 3vw;

	text-align: center;
}

.del_car {
	font-size:2vw;
	color: white;
	margin-left: 28%;
	margin-top: 2vw;
	width: 30%;
	height: 3vw;
	background-color: rgb(0, 119, 255);
	border-radius: 3vw;
	text-align: center;
}

form[name="delete_form"] {
	width: 30%;
	height: 0%;
	margin-left: 28%;
}

button[name="del_car"] {
	font-size:2vw;
	color: white;
	margin-top: 2vw;
	width: 100%;
	height: 3vw;
	background-color: rgb(0, 119, 255);
	border-radius: 3vw;
	text-align: center;
	cursor: pointer;
}

.filter-form {
	margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
	color: white;
}

.filter-form div {
    flex: 1;
    margin-bottom: 10px;
}

.sort-label {
    margin-right: 10px;
    font-weight: bold;
}

.sort-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-width: 150px;
}

.apply-btn,
.reset-btn {

	font-size: 1vw;
    background-color: #548ecf;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
	width: 11%;
	text-align: center;
	height: 2vw;
}

.reset-btn{
	padding-top: 0.1vw;
}



.apply-btn:hover,
.reset-btn:hover {
    background-color: #456ca0;
	color: white;
}


.rights {
    color: white;
	font-family: 'Nunito Sans', sans-serif;
    margin-left: 70%;
    margin-top: -5%;
}

.hrefs {
    text-decoration: underline;
    color: white;
}

footer {
	font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    height: 15%;
    top: 85%;
	margin-top: 6vw;
    background-color: black;
    color: white;
    padding-top: 2vh;
    padding-left: 5%;
}
